{{ partial "header.html" . }}
<main>
  <div class='post-background'>
    <div class='post-gradient'></div>
    {{ partial "simple-nav.html" . }}

  </div>

  <article class="article">

    <section class="post__info">

      <h1 class="post__title">{{ .Title }}</h1>

    </section>

    <section class="post__content">
      {{ .Content }}
    </section>


    <form action="https://formspree.io/your@email.com" method="POST">
      <label for="name">Your name: </label>
      <input type="text" name="name" required="required" placeholder="here"><br>
      <label for="email">Your email: </label>
      <input type="email" name="_replyto" required="required" placeholder="here"><br>
      <label for="message">Your message:</label><br>
      <textarea rows="4" name="message" id="message" required="required" class="form-control" placeholder="I can't wait to read this!"></textarea>
      <input type="hidden" name="_next" value="/html/thanks.html" />
      <input type="submit" value="Send" name="submit" class="btn btn-primary btn-outline">
      <input type="hidden" name="_subject" value="Website message" />
      <input type="text" name="_gotcha" style="display:none" />
    </form>


</main>
<footer class='footer__single'>
  {{ partial "footer.html" . }}
</footer>
