{{ partial "header.html" . }}
<main>
  <div class='post-background'>
    <div class='post-gradient'></div>
    {{ partial "simple-nav.html" . }}
  </div>

  <article class="article">

    <section class="post__info">
      {{ range .Params.categories }}
        <p class='item__meta-category single'>{{ . }}</p>
      {{ end }}

      <h1 class="post__title">{{ .Title }}</h1>

      {{ if .Params.buttons }}
        <div class="post__links">
          <p class='post__tags-meta'>View:</p>
          {{ range .Params.buttons }}
            <a href={{ .link }}><span class='item__meta-tag post-links'>{{ .text }}</span></a>
          {{ end }}
        </div>
      {{ end }}

      <div class='post__tags'>
        <p class='post__tags-meta'>Tags:</p>
        {{ range .Params.tags }}
            <span class='item__meta-tag post-tag'>{{ . }}</span>
        {{ end }}
      </div>

      <div class="post__date">
        <p>{{ .Date.Format "January 2, 2006" }} • {{ .ReadingTime }} min read</p>
      </div>

      <div class='post__authors'>
        {{- range .Params.authors }}
          {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
          <a href="https://twitter.com/{{ .Params.twitter }}" ref="author">
            <div class='post__author'>
              <img src="{{ .Params.photo }}" alt="" class='post__author-img'>
              <div class='post__author-social'>
                <span class='post__author-name'>{{ .Params.name }}</span>
                <span class='post__author-twitter'><i class="fab fa-twitter"></i> @{{ .Params.twitter }}</span>
              </div>
            </div>
            </a>
          {{ end }}
        {{ end }}
      </div>

      {{ if .Params.image }}
        <img class="post__image" src="{{ .Params.image }}" alt="" class="img-responsive">
      {{end}}


    </section>

    <section class="post__content">
      {{ .Content }}
    </section>

    <div class='disqus'>
      <button class='disqus-show'><span class="show-message">Show Comments</span> <i class="fas fa-comments"></i></button>
      <div class='disqus-comments' hidden>

        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </article>

</main>
<footer class='footer__single'>
  {{ partial "footer.html" . }}
</footer>
