{{ partial "header.html" . }}
<div class="article-meta">
</div>

<main>
  <article class="post">
    {{ if .Params.image }}
      <img class="post__image" src="{{ .Params.image }}" alt="" class="img-responsive">
    {{end}}

    <div class="post__info">
      <h1 class="post__title">{{ .Title }}</h1>
      <p class="post__desc">
        {{ if .Description }}
            {{ .Description }}
        {{ else }}
            {{ .Summary | plainify | safeHTML }}
        {{ end }}
      </p>
      <div class="post__credentials">
        {{ with .Params.author }}<p class="post__author">{{ . }}</p>{{ end }}
        <p>{{ .Date.Format "January 2, 2006" }}</p>
      </div>
    </div>
    <hr>

    <div class="post__buttons">
      {{ range .Params.buttons }}
        <a href={{ .link }}>{{ .text }}</a>
      {{ end }}

    </div>

    {{ .Content }}
  </article>
</main>
