
  <div class='footer__content'>
    <div class="footer-buttons">
      {{ partial "social-icons.html" .}}
    </div>
  </div>

  <div class='footer-more'>
    <a href="/about">About</a><a href='/contact'>Contact</a>
  </div>

  <div class='credits'>
    <div class='credits-location'>
      <p >Made with {{ partial "icon.html" "heart" }} in Seattle, WA</p>
    </div>
    <div class='credits-people'>
      <p>Design by Parker Young</p>
      <p>0s and 1s by Amber Thomas</p>
    </div>

  </div>

  <script src="{{ "js/theme.js" | absURL }}"></script>
