<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css">
  <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/variables.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:300,700|Noto+Sans:400,700" rel="stylesheet">

  {{ $scr := .Scratch }}
   <!-- Default to enabling highlighting, but allow the user to override it in .Params or .Site.Params.
   Use $scr to store "highlight_enabled", so that we can read it again in footer.html. -->
  {{ $scr.Set "highlight_enabled" true }}
  {{ if isset .Params "highlight" }}
    {{ $scr.Set "highlight_enabled" .Params.highlight }}
  {{ else if isset .Site.Params "highlight" }}
    {{ $scr.Set "highlight_enabled" .Site.Params.highlight }}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
  {{ end }}

</head>
