<section class="intro">

  <div class="intro-content">

    <div class="intro-welcome">
      <h1>Hey! I'm Amber</h1>
    </div>

    <div class="intro-sub">
      <p>I'm a data-lover, story-teller, and pro question asker. Fun things on the internet are my jam.</p>
    </div>

    <div class="intro-more">
      <p>Coded with love in Seattle, WA</p>
      <div class="intro-buttons">
        <button class="about">about</button>
        <p>•</p>
        <button class="contact">contact</button>
      </div>
    </div>

  </div>

</section>
