<section class='portfolio'>

  <nav class="portfolio__filters">
    <div class="filters__content">
      <span class="filters__desc">Show me:</span>
      <select class="filters__dropdown"></select>
      <span class="filters__search">add filters</span>
    </div>
  </nav>

  <div class="portfolio__grid">
    <!-- Change the range number here to affect the maximum number of items in your grid -->
    {{ range first 50 (where .Data.Pages "Type" "post") }}
      <div class="item item--medium">
        <img class="item__image" src="{{ .Params.image }}" alt="" class="img-responsive">
        <div class="item__details">
          <div class="details__title">
            <h4>{{ .Title }}</h4>
          </div>
          <div class="details__date">
            <p>{{ .Date.Format "January 2, 2006" }} • {{ .ReadingTime }} min read</p>
          </div>
          <div class="details__desc">
            <p>
              {{ if .Description }}
                  {{ .Description }}
              {{ else }}
                  {{ .Summary | plainify | safeHTML }}
              {{ end }}
            </p>
          </div>
        </div>
      </div>

    {{ end }}
  </div>
</section>
