<section class='portfolio'>

  <nav class="portfolio__filters">
    <div class="filters__content">
      <span class="filters__desc">Show me:</span>
      <select class="filters__dropdown"></select>
      <span class="filters__search">add filters</span>
    </div>
  </nav>

  <div class="portfolio__grid">
    <!-- Change the range number here to affect the maximum number of items in your grid -->
    {{ range first 50 (where .Data.Pages "Type" "post") }}
      <div class="item item--{{ Get .item-size }}">
        <div class="item__details">
          <div class="details__title">
            <h4>{{ .Title }}</h4>
          </div>
          <div class="details__date">
            <p>{{ .Date.Format "Jan 2, 2006" }} • {{ .ReadingTime }}</p>
          </div>
          <div class="details__desc">
            <p>
              {{ if .Description }}
                  {{ .Description }}
              {{ else }}
                  {{ .Summary | plainify | safeHTML }}
              {{ end }}
            </p>
          </div>
        </div>
      </div>

    {{ end }}
    <div class="item item--medium">
      <div class="item__details">
        <div class="details__title">
          <p>Women's Pockets are Inferior</p>
        </div>
        <div class="details__date">
          <p>Oct 6, 2018 • 3 min read</p>
        </div>
        <div class="details__desc">
          <p>You already know this. Now we have the data to show it.</p>
        </div>
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        <div class="details__title">
          <p>Women's Pockets are Inferior</p>
        </div>
        <div class="details__date">
          <p>Oct 6, 2018 • 3 min read</p>
        </div>
        <div class="details__desc">
          <p>You already know this. Now we have the data to show it.</p>
        </div>
      </div>
    </div>
    <div class="item item--large">
      <div class="item__details">
        <div class="details__title">
          <p>Women's Pockets are Inferior</p>
        </div>
        <div class="details__date">
          <p>Oct 6, 2018 • 3 min read</p>
        </div>
        <div class="details__desc">
          <p>You already know this. Now we have the data to show it.</p>
        </div>
      </div>
    </div>
    <div class="item item--medium">
      <div class="item__details">
        <div class="details__title">
          <p>Women's Pockets are Inferior</p>
        </div>
        <div class="details__date">
          <p>Oct 6, 2018 • 3 min read</p>
        </div>
        <div class="details__desc">
          <p>You already know this. Now we have the data to show it.</p>
        </div>
      </div>
    </div>
  </div>
</section>
