<section class='portfolio'>

  <nav class="portfolio__filters">
    <div class="filters__content">
      <div class="filters-category">
        <select class="category-dropdown">
          <option>All Categories</option>
            {{ range $key, $value := .Site.Taxonomies.categories }}
                <option>{{ $key | humanize | pluralize }}</option>
            {{ end }}
        </select>
      </div>

      <div class="filters-tags">
        <div class='filters-click'>
          <p class='tags-meta'>Filters</p>
          <i id='tag-chevron' class="fas fa-chevron-down"></i>
        </div>
        <div class='filters-selected'>
        {{ range $key, $value := .Site.Taxonomies.tags }}
          <p class="item__meta-tag tag-selected" data-tag="{{ $key }}" hidden="true">{{ $key }} <i class="fas fa-times"></i></p>
        {{ end }}
        </div>
      </div>

      <div class="theme-toggle">
        <i class="far fa-moon"></i>
      </div>
    </div>
  </nav>

  <div class='filters-drawer'>
    <div class='drawer-contents'>
      {{ range $key, $value := .Site.Taxonomies.tags }}
        <p class="item__meta-tag drawer-tag" data-drawerTag="{{ $key }}">{{ $key }} <i class="fas fa-plus"></i></p>
      {{ end }}
    </div>
  </div>

  <div class="portfolio__grid">
    <!-- Change the range number here to affect the maximum number of items in your grid -->
    {{ range first 50 (where .Data.Pages "Type" "post") }}

      <div class="item {{ range .Params.categories }}{{ . }}{{ end }}" data-tags="{{ delimit .Params.tags ", " }}">
        <a class="item__link" href="{{ .Permalink }}">
          {{ if .Params.thumbnail }}
            <img class="item__image" src="{{ .Params.thumbnail }}" alt="{{ .Params.imageAlt }}" class="img-responsive">
          {{else if .Params.image}}
            <img class="item__image" src="{{ .Params.image }}" alt="{{ .Params.imageAlt }}" class="img-responsive">
          {{end}}
          <div class="item__details">
            {{ range .Params.categories }}
              <p class='item__meta-category'>{{ . }}</p>
            {{ end }}

            <div class="details__title">
              <h4>{{ .Title }}</h4>
            </div>
            <div class="details__date">
              <p>{{ .Date.Format "January 2, 2006" }} • {{ .ReadingTime }} min read</p>
            </div>
            <div class="details__desc">
              <p>
                {{ if .Description }}
                    {{ .Description }}
                {{ else }}
                    {{ .Summary | plainify | safeHTML }}
                {{ end }}
              </p>
            </div>
            <div class="item__meta">
              <!-- <p class='item__meta-category'>{{ .Params.categories }}</p> -->
              {{ range .Params.tags }}
	                <span class='item__meta-tag card-tag' data-cardTag="{{.}}">{{ . }}</span>
	            {{ end }}

            </div>
          </div>


        </a>
      </div>

    {{ end }}
  </div>
</section>
