<nav class="nav__simple">
  <div class="nav__content">
    <div class="goHome">
      <a href="/" aria-label="Go back to all posts">{{ partial "icon.html" "arrow-left" }}</a>
      <span class='scroll-text'>Back to All</span>
    </div>

    <p class="nav__title">{{ $.Site.Params.author }} </p>

    <div class="theme-toggle">
      <span class="scroll-text theme-text">Enable Dark Mode</span>
      <a class="single-toggle">
        {{ partial "icon.html" "moon" }}
        {{ partial "icon.html" "sun" }}
      </a>
    </div>
  </div>
</nav>
