/* Changes the style of everything at the top of the homepage */

.intro{
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-content{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-sub{
  max-width: 350px;
  text-align: center;
}

.intro-more{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Changes the style of the filtering options above the portfolio on the homepage  */
.portfolio{
  display: block;
  position: relative;
}

.portfolio__filters{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
  height: 50px;
}

.filters__content{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.portfolio__grid{
  width: 900px;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); */
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows:repeat(auto-fill, minmax(auto, 100px))
  /* grid-auto-rows: 300px; */
  grid-auto-flow: row dense;
}

.item{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
  /* box-shadow: -2px 2px 10px rgba(#444, 0.4); */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;
  border-radius: 5px;
}

.item--medium {
  grid-row-end: span 2;
}

.item--large {
  grid-row-end: span 3;
}

.item__details {
   z-index: 1;
   padding: 1.25rem 1rem;
   background: #fff;
   letter-spacing: 1px;
   color: #000
}

.item__image {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.details__title{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.details__title h4{
  margin: 0;
}

.details__date{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #AAAAAA;
}

.details__date p{
  margin: 0.35rem 0 0.75rem 0
}

.details__desc p{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
